<a href="https://colab.research.google.com/github/koppalamounika/assignment-2/blob/master/assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [ ]:
a = float(input("enter length of first side:"))
b = float(input("enter length of second side:"))
c = float(input("enter length of third side:"))
if(a+b>c):
  s = (a+b+c)/2
  area = (s*(s-a)*(s-b)*(s-c))** (1/2)
  print("area of triangle = ",round(area,2))
else:
  print("triangle is not possible")

enter length of first side:5
enter length of second side:4
enter length of third side:3
area of triangle =  6.0

2.  Take a string from end user and check if the value is palindrome or not.

In [ ]:
string = str(input("enter a string"))
if string == string[::-1]:
  print(string ,"is palindrome")
else:
  print(string ,"is not palindrome")

enter a string12321
12321 is palindrome

3.  Write a program that reads a year from the user and displays a message indicating whether year is leap year or not.

In [ ]:
year = int(input("enter the year to check: "))
if((year%400 == 0) or ((year%4 == 0) and (year%100 != 0))):
  print(year ,"is leap year")
else:
  print(year ,"is not leap year")

enter the year to check: 2008
2008 is leap year

4. Space to Hyphen problem:
  Take a string as input, and replaces spaces " " with hyphens "-", and returns  a string.
     Input: "This program converts spaces into hyphen"
   Output: "This-program-converts-spaces-into-hyphen"

In [ ]:
string = input("enter the string:")
print("actual string is \n",string)
string = string.replace(' ','-')
print("string after modification is \n",string)

enter the string:This program converts spaces into hyphen
actual string is
 This program converts spaces into hyphen
string after modification is
 This-program-converts-spaces-into-hyphen

5.Unique Sort Problem.:
   Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).
   Input: orange,white,red,cyan,green,magenta,cyan,pink,white
   Output: cyan,green,magenta,orange,pink,red,white

In [ ]:
def sort(string):
  words = string.split(",")
  words.sort()
  newstring = ",".join(words)
  return newstring

In [ ]:
string = input("enter the string:")
print("actual string is:\n",string)
print("sorted string is:\n",sort(string))

enter the string:orange,white,red,cyan,green,maroon,blue,yellow
actual string is:
 orange,white,red,cyan,green,maroon,blue,yellow
sorted string is:
 blue,cyan,green,maroon,orange,red,white,yellow

6. Tax Calculator
   Ask the user for their monthly salary. Calculate whether they have to pay tax and if so,
   how much is that amount .Print the result.

In [ ]:
salary=float(input('Enter Monthly salary:\t'))
total=salary*12
if total<=1500000:
    tax=(25/100)*total
    if total<=1250000:
        tax=(20/100)*total
        if total<=1000000:
            tax=(15/100)*total
            if total<=750000:
                tax=(10/100)*total
                if total<=500000:
                    tax=(5/100)*total
                    if total<=250000:
                        tax=(0/100)*total
else:
    tax=(30/100)*total
print(tax)

Enter Monthly salary:	4500
0.0

7.  Take a list of integers as an argument, and converts it into a single integer (return the integer).
   input:[11,33,50]
   output:113350

In [ ]:
List = [11, 33, 50]
x = int("".join(map(str, List)))
print("Single Integer: ",x)

Single Integer:  113350

8. Units of Time
  Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. 
   Compute and display the total number of seconds represented by this duration.

In [ ]:
days    = int(input("Enter number of Days: "))
hours   = int(input("Enter number of Hours: "))
minutes = int(input("Enter number of Minutes: "))
seconds = int(input("Enter number of Seconds: "))
total_seconds = days * 86400
total_seconds = total_seconds + ( hours * 3600)
total_seconds = total_seconds + ( minutes * 60)
total_seconds = total_seconds + seconds
print("Total number of seconds:", total_seconds)

Enter number of Days: 4
Enter number of Hours: 16
Enter number of Minutes: 24
Enter number of Seconds: 10
Total number of seconds: 404650

9. Sort 3 integers
   Given three integers (given through user input), sort the numbers using |min| and |max| functions.

In [ ]:
num1=int(input('Enter 1st integer: '))
num2=int(input('Enter 2nd integer: '))
num3=int(input('Enter 3rd integer: '))
max=max(num1,num2,num3)
min=min(num1,num2,num3)
mid=(num1+num2+num3)-max-min
print("numbers in sorted order: ", min, mid, max)

Enter 1st integer: 23
Enter 2nd integer: 45
Enter 3rd integer: 12
numbers in sorted order:  12 23 45

10.  Write a program that reads a date from the user and computes its immediate successor.The date is the format YYYY-MM-DD. So, 2020-04-15
   will have the successor 2020-04-16.

In [ ]:
year = int(input("Input a year: "))
if (year % 4 == 0):
    leap_year = True
else:
    leap_year = False
month = int(input("Input a month [1-12]: "))
if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30


day = int(input("Input a day [1-31]: "))

if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is %d-%d-%d." % (year, month, day))

Input a year: 2020
Input a month [1-12]: 04
Input a day [1-31]: 15
The next date is 2020-4-16.

11. Compute product of a list of numbers [45,3,2,89,72,1,10,7]
   Output: 121111200

In [ ]:
list=[45,3,2,89,72,1,10,7]
product=1
for i in list:
  product=product*i
print("product is : " ,product)

product is :  121111200

12. Compute given Num_list=[5,6,8,34,89,1] to get desired output.
     Output : Out_list=[11,14,42,123,90]

In [ ]:
Num_list=[5,6,8,34,89,1]
out_list=[]
for i in range(len(Num_list)-1):
    ol=Num_list[i]+Num_list[i+1]
    out_list.append(ol)
print("Out_list=",out_list)

Out_list= [11, 14, 42, 123, 90]

13. Compute given Num_tuple=(5,6,8,3,9,1) to get desired output.     
   Output : Out_list=[5,30,240,720,6480,6480]

In [ ]:
n=(5,6,8,3,9,1)
Out_list=[]
Out_list.append(n[0])
for i in range(len(n)-1):
    m=Out_list[i]*n[i+1]
    Out_list.append(m)
print("Out_list=",Out_list)

Out_list= [5, 30, 240, 720, 6480, 6480]

14.  Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2].

In [ ]:
number=input("Enter a number: ")
list=[]
for n in range(len(number)):
    list.append(int(number[n]))
print(list)

Enter a number: 586392
[5, 8, 6, 3, 9, 2]

15.  Write a program that finds the longest palindromic substring of a given string.

In [ ]:
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : I speak malayalam
malayalam

16.  Substring Check (Bug Funny)

In [ ]:
t=int(input())
for i in range(t):
  A,B=input("Enter A string and B string : ").split()
  if B in A:
    print("1")
    break
  else:
    print("0")
    break

10
Enter A string and B string : 1000110  110
1

17. Pouring water

In [ ]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 1
Enter capacity of vessel a : 4
Enter capacity of vessel b : 6
Enter capacity to be obtained :7
Minimum number of steps required is :  -1